body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h2 {
    margin-bottom: 40px;
}
.card-flag + ._flag {
    background: url(card-flag-highlight.png) no-repeat top left;
    width: 50px;
    height: 30px;
    display: none;
    position: absolute;
    top: 2px;
    right: -55px;
}

.card-flag.card-flag-amex + ._flag {
    background-position: 0 0;
    display: inline-block; }

.card-flag.card-flag-diners + ._flag {
    background-position: 0 -160px;
    display: inline-block; }

.card-flag.card-flag-elo + ._flag {
    background-position: 0 -240px;
    display: inline-block; }

.card-flag.card-flag-hipercard + ._flag {
    background-position: 0 -320px;
    display: inline-block; }

.card-flag.card-flag-master + ._flag {
    background-position: 0 -400px;
    display: inline-block; }

.card-flag.card-flag-visa + ._flag {
    background-position: 0 -480px;
    display: inline-block; }

.card-flag.card-flag-hiper + ._flag {
    background-position: 0 -556px;
    display: inline-block;}
.creditcard {
    width: 180px;
    position: relative;
}

.animated-label {
    position:relative;
}
.animated-label.animated-label-focus label,.animated-label.animated-label-has-value label {
    -webkit-transform:translate3d(-10px,-24px,0) scale(0.75);
    transform:translate3d(-10px,-24px,0) scale(0.75);
    color:#000;
}
.animated-label label {
    position:absolute;
    font-size:13px;
    color:rgba(0,0,0,0.26);
    left:10px;
    top:8px;
    font-weight:300;
    -webkit-transform:translate3d(0,0,0) scale(1);
    transform:translate3d(0,0,0) scale(1);
    -webkit-transform-origin:left top;
    transform-origin:left top;
    -webkit-transition:0 cubic-bezier(0.25,0.8,0.25,1) .25s;
    transition:transform cubic-bezier(0.25,0.8,0.25,1) .25s;
}
.animated-label.animated-label-focus label {
    color:#087aac;
}

.accordion {
  list-style: none;
  padding: 0;
  margin: 0;
}
.accordion .item {
  margin-bottom: 10px;
}
.accordion .item.open .content {
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
.accordion .item.open .title {
  border-left-color: #e1e1e1;
}
.accordion .item.open .title:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion .item .content {
  padding: 0 20px;
  margin: 0;
  background-color: #f3f3f3;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
}
.accordion .item .title {
  margin: 0;
  padding: 5px 40px 5px 20px;
  position: relative;
  cursor: pointer;
  border: 1px solid #eeeded;
  font-size: 18px;
  font-weight: 300;
  border-left: 5px solid #2980b8;
}
.accordion .item .title:after {
  content: '\f078';
  font-family: 'FontAwesome';
  position: absolute;
  top: 5px;
  right: 20px;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  color: #747474;
  font-size: 14px;
}
